$primary-color: #0081C9;
$secondary-color: #5BC0F8;
$third-color: #86E5FF;
$action-color: #FFC93C;

$primary-bg-color: rgb(241, 241, 241);
$primary-title-color: #000;
$primary-text-color: #2c2c2c;
$paper-bg: #fff;
$light-text: #fff;
$padding-md: 24px;
$padding-sm: 16px;